.idea/

/log
/tmp

/spec/tmp
/spec/examples.txt

# Environment normalization:
/.bundle

# Ignore Byebug command history file.
.byebug_history

# Ignore .env configs
.env.development
.env.test
.env.production
